<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <title><%= hero.name %> - Superhero Details</title>
</head>
<body>
    <h1><%= hero.name%></h1>

    <div class="hero-details">
        <!-- Imagen del personaje -->
        <img src="<%= hero.images.md %>" alt="<%= hero.name %>" class="hero-image">
        
        <!-- ID -->
        <p><strong>ID:</strong> <%= hero.id %></p>
        
        <h3>Biography</h3>
     <ul>
        <li><strong>Full name:</strong> <%= hero.biography.fullName || 'Unknown' %></li>
        <li><strong>Place of Birth:</strong> <%= hero.biography.placeOfBirth || 'Unknown' %></li>
       <li><strong>Alias:</strong> <%= hero.biography.aliases.join(', ') || 'No aliases available.' %></li>
     </ul>
        <!-- Estadísticas de poder -->
        <h3>Power Stats</h3>
        <ul>
            <li><strong>Intelligence:</strong> <%= hero.powerstats.intelligence %></li>
            <li><strong>Strength:</strong> <%= hero.powerstats.strength %></li>
            <li><strong>Speed:</strong> <%= hero.powerstats.speed %></li>
            <li><strong>Durability:</strong> <%= hero.powerstats.durability %></li>
            <li><strong>Power:</strong> <%= hero.powerstats.power %></li>
            <li><strong>Combat:</strong> <%= hero.powerstats.combat %></li>
        </ul>


        <h3>Physical Characteristics</h3>
        <!-- Género, raza, altura, peso -->
        <p><strong>Gender:</strong> <%= hero.appearance.gender %></p>
        <p><strong>Race:</strong> <%= hero.appearance.race || 'Unknown' %></p>
        <p><strong>Height:</strong> <%= hero.appearance.height.join(', ') %></p>
        <p><strong>Weight:</strong> <%= hero.appearance.weight.join(', ') %></p>

        <!-- Color de ojos y pelo -->
        <p><strong>Eye Color:</strong> <%= hero.appearance.eyeColor || 'Unknown' %></p>
        <p><strong>Hair Color:</strong> <%= hero.appearance.hairColor || 'Unknown' %></p>

        <!-- Afiliación a un grupo -->
        <h3>Group Afiliation</h3>
        <p> <%= hero.connections.groupAffiliation || 'None' %></p>
    </div>

    <div class="navigation">
        <a href="/hero/<%= prevHeroId %>" class="btn btn-secondary">Anterior</a>
        <a href="/hero/<%= nextHeroId %>" class="btn btn-secondary">Siguiente</a>
    </div>

    <a href="/" class="btn btn-primary">Volver a la página principal</a> 
</body>
</html>
